[submodule "klipper"]
	path = klipper
	url = git@github.com:marcboivin/klipper.git
[submodule "esp-idf"]
	path = esp-idf
	url = git@github.com:marcboivin/esp-idf.git
[submodule "TurboCAN"]
	path = TurboCAN
	url = git@github.com:marcboivin/TurboCAN.git
